button .mb-icon {
    display: flex;
    margin: 0 auto;
}

.mb-icon {
    width: 1em;
    display: inline-block;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.mb-pointer {
    cursor: pointer;
}

.mb-2x {
    width: 2em;
    height: 2em;
}

.mb-3x {
    width: 3em;
    height: 3em;
}

.mb-read-message {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 13.4 7.8' xmlns='http://www.w3.org/2000/svg' version='1.1' fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4'%3E%3Cpath stroke='%23478cf3' d='m 0.7 4.1 l 3 3 l 6 -6.4'/%3E%3Cpath stroke='%23a200ff' d='m 6.7 7.1 l 6 -6.4'/%3E%3C/svg%3E");
}

.mb-delivered-message {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 13.4 7.8' xmlns='http://www.w3.org/2000/svg' version='1.1' fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4'%3E%3Cpath stroke='%23478cf3' d='m 0.7 4.1 l 3 3 l 6 -6.4'/%3E%3C/svg%3E");
}

.mb-more {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 24 24' id='more-circle-vertical' xmlns='http://www.w3.org/2000/svg' class='icon flat-color'%3E%3Ccircle class='outer' cx='12' cy='12' r='10' fill='transparent'%3E%3C/circle%3E%3Cg class='inner' fill='%231E1E1E'%3E%3Ccircle cx='12' cy='7' r='1.5'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='1.5'%3E%3C/circle%3E%3Ccircle cx='12' cy='17' r='1.5'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

.mb-more:hover {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 24 24' id='more-circle-vertical' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10' fill='%23f5f5f5'%3E%3C/circle%3E%3Cg fill='%23478cf3'%3E%3Ccircle cx='12' cy='7' r='1.5'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='1.5'%3E%3C/circle%3E%3Ccircle cx='12' cy='17' r='1.5'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

.mb-attach {
    background-image: url('data:image/svg+xml,%3Csvg width="200" height="200" viewBox="-1 -1 26 26" xmlns="http://www.w3.org/2000/svg"%3E%3Ccircle cx="12" cy="12" r="13" fill="transparent"%3E%3C/circle%3E%3Cpath fill="%23999999" d="M20.539,14.56,15.511,19.6 a7.388,7.388,0,0,1-5.2,2.148 A7.015,7.015,0,0,1,5.3,19.7,7.258,7.258,0,0,1,5.4,9.467 l5.727-5.744 a5.01,5.01,0,0,1,7.1,0,5.043,5.043,0,0,1,0,7.11 L12.467,16.6 a2.949,2.949,0,0,1-4.079,0,2.9,2.9,0,0,1,0-4.084l5.055-5.07 a.751.751,0,0,1,1.063,1.06 L9.451,13.579 a1.394,1.394,0,0,0,0,1.966,1.411,1.411,0,0,0,1.954,0 L17.16,9.773 a3.539,3.539,0,0,0,0-4.99,3.591,3.591,0,0,0-4.971,0 L6.461,10.526 a5.827,5.827,0,0,0-.094,8.112,5.525,5.525,0,0,0,3.946,1.612,5.878,5.878,0,0,0,4.136-1.708 L19.477,13.5a.75.75,0,0,1,1.062,1.06"%3E%3C/path%3E%3C/svg%3E');
}

.mb-attach:hover {
    background-image: url('data:image/svg+xml,%3Csvg width="200" height="200" viewBox="-1 -1 26 26" xmlns="http://www.w3.org/2000/svg"%3E%3Ccircle cx="12" cy="12" r="13" fill="%23f5F5F5"%3E%3C/circle%3E%3Cpath fill="%23478cf3" d="M20.539,14.56,15.511,19.6 a7.388,7.388,0,0,1-5.2,2.148 A7.015,7.015,0,0,1,5.3,19.7,7.258,7.258,0,0,1,5.4,9.467 l5.727-5.744 a5.01,5.01,0,0,1,7.1,0,5.043,5.043,0,0,1,0,7.11 L12.467,16.6 a2.949,2.949,0,0,1-4.079,0,2.9,2.9,0,0,1,0-4.084l5.055-5.07 a.751.751,0,0,1,1.063,1.06 L9.451,13.579 a1.394,1.394,0,0,0,0,1.966,1.411,1.411,0,0,0,1.954,0 L17.16,9.773 a3.539,3.539,0,0,0,0-4.99,3.591,3.591,0,0,0-4.971,0 L6.461,10.526 a5.827,5.827,0,0,0-.094,8.112,5.525,5.525,0,0,0,3.946,1.612,5.878,5.878,0,0,0,4.136-1.708 L19.477,13.5a.75.75,0,0,1,1.062,1.06"%3E%3C/path%3E%3C/svg%3E');
}

.mb-arrow-right {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Cpath fill="%23ffffff" d="M11.128.293a.999.999 0 0 0-1.413 1.411l6.434 6.438a.504.504 0 0 1-.352.86H1.017C.464 9.002 0 9.44 0 9.992v.004c0 .551.465 1.002 1.016 1.002h14.78c.445 0 .668.53.353.845L9.684 18.3a.994.994 0 0 0 0 1.41v-.002a1 1 0 0 0 1.413 0l8.318-8.311c.78-.78.78-2.045 0-2.825L11.128.292"/%3E%3C/svg%3E');
}

.mb-arrow-left {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Cpath fill="%23ffffff" d="M11.128.293a.999.999 0 0 0-1.413 1.411l6.434 6.438a.504.504 0 0 1-.352.86H1.017C.464 9.002 0 9.44 0 9.992v.004c0 .551.465 1.002 1.016 1.002h14.78c.445 0 .668.53.353.845L9.684 18.3a.994.994 0 0 0 0 1.41v-.002a1 1 0 0 0 1.413 0l8.318-8.311c.78-.78.78-2.045 0-2.825L11.128.292"/%3E%3C/svg%3E');
    transform: scale(-1, 1);
}