extends ../base.pug
include ../../mixins/input/input.pug
include ../../mixins/button/button.pug

block vars
    //- extension point

block layout-style
    link(rel="stylesheet", href="../../layouts/third-centered.css")

block styles
    link(rel="stylesheet", href="../../mixins/modal.css")
    link(rel="stylesheet", href="./auth.css")

block main
    .auth.modal
        h1.auth__title #{authTitle}
        form.auth__form
            block authFormContent
                //- extension point
                | extension point
            +mbButton.
                #{mainButtonTitle} 
        nav
            a(href=additionalLink) #{additionalLinkTitle}