extends ./auth.pug


append vars
    - let pageTitle="о, это ты, привет!"
    - let authTitle="Вход"
    - let mainButtonTitle="Авторизоваться"
    - let additionalLink="./signup.pug"
    - let additionalLinkTitle="Нет аккаунта?"

block authFormContent
    +inputField("Логин", "login")
    +inputField("Пароль", "password", "password")