extends ./auth.pug


append vars
    - let pageTitle="hello, new friend"
    - let authTitle="Регистрация"
    - let mainButtonTitle="Зарегистрироваться"
    - let additionalLink="./signin.pug"
    - let additionalLinkTitle="Войти"

block authFormContent
    +inputField("Почта", "email", "email")
    +inputField("Логин", "login")
    +inputField("Имя", "first_name")
    +inputField("Фамилия", "second_name")
    +inputField("Телефон", "phone", "tel")
    +inputField("Пароль", "password", "password")
    +inputField("Пароль (еще разок)", "password-repeat", "password")
