extends ./auth.pug


append vars
    - let pageTitle="у меня будет новый друг"
    - let authTitle="Регистрация"
    - let mainButtonTitle="Зарегистрироваться"
    - let additionalLink="./signin.pug"
    - let additionalLinkTitle="Войти"

block authFormContent
    +inputArea("Почта", "email", "email")
    +inputArea("Логин", "login")
    +inputArea("Имя", "first_name")
    +inputArea("Фамилия", "second_name")
    +inputArea("Телефон", "phone", "tel")
    +inputArea("Пароль", "password", "password")
    +inputArea("Пароль (еще разок)", "password-repeat", "password")
