@import url(../base.css);
@import url(../../mixins/chat-preview/chat-preview.css);
@import url(../../mixins/input/input.css);
@import url(../../mixins/icon/icon.css);

:root {
    --header-height: 100px;
}

body {
    max-height: 100vh;
}

/* Список всех чатов */

.chatlist {
    grid-area: side;
    overflow: hidden;
    background-color: #fbfbfb;
    box-shadow: inset -2px 0px 0px #fff, inset -3px 0 0 #eaeaea;
}

.chatlist__header {
    height: var(--header-height);
    padding: 20px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatlist__header .link {
    color: #999;
    padding-right: 10px;
    font-size: 1rem;
    position: relative;
    display: inline;
    margin-left: auto;
}

.chatlist__header .link::after {
    content: '❯';
    position: absolute;
    right: 0;
    bottom: -1px;
}

.chatlist__content {
    overflow-y: scroll;
    height: calc(100% - var(--header-height));
}

/*
* Основная область
**/

.intro {
    color: #999;
    margin: auto;
}

.chat,
.chat__header,
.chat__main,
.chat__footer {
    display: flex;
}

.chat__header,
.chat__footer {
    flex-direction: row;
    height: 50px;
    min-height: 50px;
    align-items: center;
    gap: 10px;
    margin-right: 20px;

}

.chat {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

/*
* Шапка чата. Инфо о контакте. Тулбар
**/

.chat__header {
    border-bottom: 1px solid #eaeaea;
    justify-content: inherit;
}

.contact-info {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: inherit;
}

.contact-info__title {
    color: #1E1E1E;
    font-size: 1.1rem;
    font-weight: bolder;
}


/*
* Переписка
**/

.chat__main {
    flex-direction: column-reverse;
    margin-top: auto;
    overflow-y: scroll;
    padding: 30px 10px 30px 0;
    margin-right: 10px;
}

/* Сообщение */

.chat__main .message {
    position: relative;
    padding: 1rem;
    max-width: 45%;
    margin-bottom: 10px;
    background-color: #F8F8F8;
    width: fit-content;
    border-radius: 12px;
    word-wrap: break-word;
}

.chat__main .message:first-child {
    margin-bottom: 0;
}

.chat__main .message:not([data-author="self"]) {
    border-top-left-radius: 0;
}

.chat__main .message[data-author="self"] {
    border-bottom-right-radius: 0;
    align-self: flex-end;
    background-color: #E4EDFD;
}

.message__text {
    position: relative;
}

.message__status {
    float: right;
    margin-left: 15px;
}

.message__time {
    position: relative;
    top: 0.1rem;
    float: right;
    font-size: .9rem;
    color: #999;
    margin-left: 5px;
}

/* Вложения (изображения) */


.chat__main .message[data-type="attach"] {
    background-color: #fff;
    border: 3px solid #F8F8F8;
    padding: 0;
}

.chat__main .message[data-type="attach"][data-author="self"] {
    border-color: #E4EDFD
}

.message .message__attach>img {
    max-height: 250px;
    border-radius: 9px;
}
.message[data-author="self"] .message__attach>img {
    border-bottom-right-radius: 0px;
}

.message:not([data-author="self"]) .message__attach>img {
    border-top-left-radius: 0px;
}

.message[data-author="self"] .message__time {
    color: #478cf3
}

.message[data-type="attach"] .message__time {
    padding: 0.3em;
    background: #e4edfdcc;
    position: absolute;
    border-radius: 5px;
    bottom: 5px;
    top: unset;
    right: 5px;
}

/*
* Подвал. Создание нового собщения
**/

.chat__footer {
    border-top: 1px solid #eaeaea;
}

.new-message {
    display: inherit;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: inherit;
}

.new-message__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: inherit;
    width: 100%;
}

button.rounded {
    border: 0;
    border-radius: 50%;
    padding: 0.3em;
    width: 3em;
    height: 3em;
    background: #478cf3;
}


/* Scrollbar */

.chatlist__content::-webkit-scrollbar,
.chat__main::-webkit-scrollbar {
    opacity: 0;
    width: 3px;
}

.chat__main:hover::-webkit-scrollbar-thumb,
.chatlist__content:hover::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
}