extends ../base.pug
include ../../mixins/input/input.pug


block vars
    - let pageTitle="профиль"

block layout-style
    link(rel="stylesheet" href="../../layouts/quarter-centered.css")

block styles
    link(rel="stylesheet" href="./profile.css")

block main
    +inputArea("Почта")
    +inputArea("Логин")
    +inputArea("Имя")
    +inputArea("Фамилия")
    +inputArea("Имя в чате")
    +inputArea("Телефон")