@import url(../base.css);
@import url(../../mixins/input/input.css);
@import url(../../mixins/icon/icon.css);
@import url(../../mixins/avatar/avatar.css);
@import url(../../mixins/button/button.css);

* {
    font-size: 13px;
}

.profile {
    display: inherit;
    flex-direction: inherit;
    gap: 60px;
    margin: 60px 0;
}

.profile__summary,
.profile__full,
.profile__settings,
.profile__submit {
    margin: 0 auto;
}

.profile__summary {
    text-align: center;
}

.profile__full,
.profile__settings {
    width: 100%;
}


.profile__settings> * {
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: block;
}

.profile__settings>*:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
}