@import url(./reset.css);

:root {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

* {
    font-size: 12px;
}

body {
    display: grid;
    gap: 0 20px;
}

#header,
#main,
#footer {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

#main {
    grid-area: main;
}

.link {
    font-size: .9rem;
    color: #3369F3;
    text-decoration: none;
}

#footer {
    color: transparent;
    background: linear-gradient(90deg, rgb(71, 140, 243) 0%, rgba(162, 0, 255, 1) 100%);
    background-clip: text;
    font-weight: lighter;
    font-size: smaller;
    grid-area: footer;
    justify-content: center;
    align-content: center;
}

