@import url(./reset.css);

:root {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

* {
    font-size: 12px;
}

body {
    display: grid;
    gap: 0 20px;
}

#header,
#main,
#footer {
    display: flex;
    flex-direction: column;
}

#main {
    grid-area: main;
}

h2 {
    font-size: 1.33rem;
    font-weight: 600;
    margin: 1.5rem 0 0;
}

.link {
    font-size: .9rem;
    color: #478cf3;
    text-decoration: none;
    cursor: pointer;
}
.link:hover{
    text-decoration: underline;
}

#footer {
    color: transparent;
    background: linear-gradient(90deg, #478cf3 0%, #a200ff 100%);
    background-clip: text;
    font-weight: lighter;
    font-size: smaller;
    grid-area: footer;
    justify-content: center;
    align-content: center;
    padding: 0 10px;
}

