:root {

    /* Colors */

    --color-white: #fff;
    --color-black: #333;
    --color-blue: #478cf3;
    --color-blue_hover: #3c84f1;
    --color-blue-light: #e4edfd;
    --color-purple: #a200ff;
    --color-red: #f00;
    --color-gray: #eaeaea;
    --color-gray-light: #f8f8f8;
    --color-gray-dark: #999;
}
