.chat-preview {
    display: grid;
    color: var(--color-gray-dark);
    grid-template:
        "avatar message time" 25px "avatar message counter" 25px / 50px minmax(150px, auto) 1fr;
    gap: 0 10px;
    padding: 12px 10px;
    cursor: pointer;
    margin: 5px 0;
    position: relative;
    box-shadow: 0 12px 0 -10px var(--color-gray-light),
        0 13px 0 -10px var(--color-gray),
        0 -12px 0 -10px var(--color-gray-light),
        0 -13px 0 -10px var(--color-gray)
}

.chat-preview.current {
    background-color: #D0E0FB;
    color: #666
}

.chat-preview:hover {
    background-color: var(--color-blue-light);
}


.chat-preview__avatar {
    grid-area: avatar;
}

.chat-preview__last-message {
    display: flex;
    flex-direction: column;
    grid-area: message;
    gap: 4px 0;
}

.chat-preview__last-message .message__text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.message__author {
    color: var(--color-black);
    font-size: 1.1rem;
    font-weight: bolder;
}

.chat-preview__update-time {
    grid-area: time;
    font-size: .75rem;
    justify-self: flex-end;
}

.chat-preview__new-messages-counter {
    grid-area: counter;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: self-end;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 50%;
    width: 1.7em;
    height: 1.7em;
    font-size: .9rem;
}
