@import url("./pages/reset.css");
@import url("./pages/variables.css");
@import url("./pages/templates.css");

:root {
    font-family: Roboto, sans-serif;
    font-weight: normal;
}

* {
    font-size: 12px;
}

#app {
    position: relative;
    display: grid;
    gap: 0 20px;
}

#header,
#main,
#footer {
    display: flex;
    flex-direction: column;
}

#main{
    grid-area: main;
}

p,
span,
h1,
h2,
h3,
label {
    color: var(--color-black)
}

h2 {
    font-size: 1.33rem;
    font-weight: 600;
    margin: 1.5rem 0 0;
}

a {
    font-size: .9rem;
    color: var(--color-blue);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a.extra {
    color: var(--color-gray-dark);
    padding-right: 15px;
    font-size: 1rem;
    position: relative;
}

a.extra::after {
    content: "❯";
    position: absolute;
    transform: translate(3px, -1px);
}

.warning {
    color: var(--color-red);
}

#footer {
    color: transparent;
    background: linear-gradient(90deg, var(--color-blue), var(--color-purple), var(--color-blue), var(--color-purple));
    background-size: 300% 100%;
    animation: gradient 10s ease infinite;
    background-clip: text;
    font-weight: lighter;
    font-size: smaller;
    grid-area: footer;
    justify-content: center;
    align-content: center;
    padding: 0 10px;
}

@keyframes gradient {
    100% {
        background-position: 100% 0%;
    }
}
