extends ./pages/base.pug

block vars
    - var pageTitle = "index"

mixin menuItem(title,ref)
    li 
        a(href=ref)=title

block main
    h1 Макеты
    ul
        +menuItem("Авторизация", "./pages/auth/signin.pug")
        +menuItem("Регистрация", "./pages/auth/signup.pug")
        +menuItem("Страница 404", "./pages/error/404.pug")
        +menuItem("Страница 500", "./pages/error/500.pug")
        +menuItem("Список чатов и лента", "./pages/chat/chat.pug")
        +menuItem("Настройки пользователя: информация", "")
        +menuItem("Настройки пользователя: аватар", "")
        +menuItem("Настройки пользователя: пароль", "")

block footer   
    h2 middle.messenger.praktikum.yandex