extends ../base.pug

block vars
    - var pageTitle="спецбригада уже в пути"

block layout-style
    link(rel="stylesheet", href="../../layouts/third-centered.css")

block styles
     link(rel="stylesheet", href="./errors.css")

block main
    .error
        h1.error__title #{errorCode}
        p.error__message #{errorMsg}
        nav
            a(href="../../pages/chat/chat.pug") Назад к чатам